@charset "utf-8";
*{
    margin:0; padding:0;
    }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0;  font-family: "微软雅黑"; }
fieldset, img { border: 0; }
ul, ol, li { list-style: none; font-family:'Microsoft YaHei'; }

/* remember to define focus styles! */
:focus { outline: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; background-color: #fff; border: none;}
code, kbd, samp, tt { font-size: 100%; }
a{text-decoration:none;}
a:hover{
    text-decoration: none;
}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea{ *font-size: 100%;}
ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table,tr,td { border-collapse: collapse; border-spacing: 0; margin:0;padding:0;}
caption, th { text-align: left; }
sup, sub { font-size: 100%; vertical-align: baseline; }

/* remember to highlight anchors and inserts somehow! */
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/**Common Css**/
.fr { float: right; *display: inline;}
.fl { float: left; *display: inline;}
/*文本超出显示省略号*/
.ehn, .otw, .tow { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
/*清除浮动*/
.clearfix { clear: both; *zoom:1;}
.clearfix:after { display: block; clear: both; content: "\0020"; visibility: hidden; height: 0; }
input{cursor: pointer;}



//header部分公用的css
.person-container .person-register {
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.5);
    // display: none;
    position: fixed;
    top: 0;
    z-index: 100; }
    .person-container .person-register .person-register-box {
      width: 400px;
      height: 500px;
      background-color: #fff;
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin: auto;
      padding: 50px;
      border-radius: 5px;
      box-sizing: border-box;
      text-align: center;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px; }
      .person-container .person-register .person-register-box h3 {
        font-size: 24px;
        color: #419df2;
        font-weight: 500; }
      .person-container .person-register .person-register-box .phonenum {
        // border: solid 1px #dddddd;
        border-radius: 10px;
        margin-top: 45px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        position: relative!important;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        input{
          width: 100%;
          height: 100%;
          border: solid 1px #dddddd;
          text-indent: 2em;
          color:#aaa;
          border-radius: 10px;
          font-size: 14px;
        }
        .icon-shouji{
          position: absolute!important;
          left:0;
          color: #fff;
          text-indent: .5em;
          font-size: 17px!important;
          top:2px;
          font-size: 16px;
        }
       }
    
      .person-container .person-register .person-register-box .person-register-code {
        height: 40px;
        width: 100%;
        font-size: 14px;
        position: relative;
        margin-top: 20px;
        color: #aaaaaa; 
        .icon-bi{
          position: absolute;
          top:11px;
          color: #fff;
          font-size: 17px;
          left:0;
          text-indent: .5em;
        }
      }
        .person-container .person-register .person-register-box .person-register-code .person-code {
          float: left;
          width: 55%;
          height: 40px;
          border-radius: 10px;
          border: solid 1px #dddddd;
          margin-right: 5%;
          box-sizing: border-box;
          text-indent: 2em;
          -webkit-borer-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px; }
        .person-container .person-register .person-register-box .person-register-code .person-code-get {
          float: left;
          width: 40%;
          height: 40px;
          font-size: 14px;
          // color: #aaa;
          border-radius: 10px;
          box-sizing: border-box;
          border: solid 1px #dddddd;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px; }
      .person-container .person-register .person-register-box .person-success {
        color: #cc0000;
        font-size: 12px;
        float: right;
        margin-top: 20px; }
      .person-container .person-register .person-register-box .register-success {
        height: 40px;
        width: 100%;
        text-align: center;
        color: #fff;
        font-weight: 700;
        background-color: #eb6877;
        border-radius: 10px;
        margin-top: 20px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px; }
  .person-container .person-login {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    // display: none;
    position: fixed;
    top: 0;
    z-index: 100; }
    .person-container .person-login .person-login-box {
      width: 400px;
      height: 500px;
      background-color: #fff;
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin: auto;
      padding: 50px;
      border-radius: 5px;
      box-sizing: border-box;
      text-align: center;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px; }
      .person-container .person-login .person-login-box h3 {
        font-size: 24px;
        color: #419df2;
        font-weight: 500; }
      .person-container .person-login .person-login-box .login-phonenum {
        // border: solid 1px #dddddd;
        border-radius: 10px;
        margin-top: 45px;
        width: 100%;
        height: 40px;
        position: relative;
        // text-indent: 2em;
        font-size: 14px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px; 
        input{
          border: solid 1px #dddddd;
          border-radius: 10px;
          width: 100%;
          height: 100%;
          font-size: 14px;
          text-indent: 2em;
          // position: relative;
        }
        .icon-shouji{
          position: absolute;
          top:11px;
          left:0;
          font-size: 18px;
          color: #fff;
          text-indent: .5em;
        }
      }

      .person-container .person-login .person-login-box .login-password {
        border: solid 1px #dddddd;
        border-radius: 10px;
        margin-top: 20px;
        width: 100%;
        font-size: 12px;
        height: 40px;
        text-indent: 2em;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px; }
      .person-container .person-login .person-login-box .login-box-text {
        margin-top: 60px;
      
      }
        .person-container .person-login .person-login-box .login-box-text label {
          float: left;
          color: #aaaaaa;
          font-size: 12px; }
        .person-container .person-login .person-login-register-box .login-box-text .login-box-forget {
          float: right;
          text-align: right;
         }
          .person-container .person-login .person-login-box .login-box-text .login-box-forget a {
            font-size: 12px;
            color: #aaaaaa; }
        
      .person-container .person-login .person-login-box .login-box-text-success {
        // background: #eb6877;
        width: 100%;
        color: #fff;
        margin-top: 20px;
        text-align: center;
        font-weight: 700;
        height: 40px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px; }

// index
.index-container .person-register {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  z-index: 100; }
  .index-container .person-register .person-register-box {
    width: 400px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    padding: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; }
    .index-container .person-register .person-register-box h3 {
      font-size: 24px;
      color: #419df2;
      font-weight: 500; }
    .index-container .person-register .person-register-box .phonenum {
      // border: solid 1px #dddddd;
      border-radius: 10px;
      margin-top: 60px;
      width: 100%;
      height: 40px;
      line-height: 40px;
      position: relative!important;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      input{
        width: 100%;
        height: 100%;
        border: solid 1px #dddddd;
        text-indent: 2em;
        color:#aaa;
        border-radius: 10px;
        font-size: 14px;
      }
      .icon-shouji{
        position: absolute!important;
        left:0;
        color: #fff;
        text-indent: .5em;
        font-size: 17px!important;
        top:0;
        font-size: 16px;
      }
     }
  
    .index-container .person-register .person-register-box .person-register-code {
      height: 40px;
      width: 100%;
      font-size: 14px;
      position: relative;
      margin-top: 20px;
      color: #aaaaaa; 
      .icon-bi{
        position: absolute;
        top:12px;
        color: #fff;
        font-size: 17px;
        left:0;
        text-indent: .5em;
      }
    }
      .index-container .person-register .person-register-box .person-register-code .person-code {
        float: left;
        width: 55%;
        height: 40px;
        border-radius: 10px;
        border: solid 1px #dddddd;
        margin-right: 5%;
        box-sizing: border-box;
        text-indent: 2em;
        -webkit-borer-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px; }
      .index-container .person-register .person-register-box .person-register-code .person-code-get {
        float: left;
        width: 40%;
        height: 40px;
        font-size: 14px;
        color: #aaa;
        border-radius: 10px;
        box-sizing: border-box;
        border: solid 1px #dddddd;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px; }
    .index-container .person-register .person-register-box .person-success {
      color: #cc0000;
      font-size: 12px;
      float: right;
      margin-top: 20px; }
    .index-container .person-register .person-register-box .register-success {
      height: 40px;
      width: 100%;
      text-align: center;
      color: #fff;
      font-weight: 700;
      background-color: #eb6877;
      border-radius: 10px;
      margin-top: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px; 
    }
.index-container .person-login {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  z-index: 100; }
  .index-container .person-login .person-login-box {
    width: 400px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    padding: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; }
    .index-container .person-login .person-login-box h3 {
      font-size: 24px;
      color: #419df2;
      font-weight: 500; }
    .index-container .person-login .person-login-box .login-phonenum {
      // border: solid 1px #dddddd;
      border-radius: 10px;
      margin-top: 45px;
      width: 100%;
      height: 40px;
      position: relative;
      // text-indent: 2em;
      font-size: 14px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px; 
      input{
        border: solid 1px #dddddd;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        font-size: 14px;
        text-indent: 2em;
        // position: relative;
      }
      .icon-shouji{
        position: absolute;
        top:11px;
        left:0;
        font-size: 18px;
        color: #fff;
        text-indent: .5em;
      }
    }

    .index-container .person-login .person-login-box .login-password {
      border: solid 1px #dddddd;
      border-radius: 10px;
      margin-top: 20px;
      width: 100%;
      font-size: 12px;
      height: 40px;
      text-indent: 2em;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px; }
    .index-container .person-login .person-login-box .login-box-text {
      margin-top: 40px;
    
    }
      .index-container .person-login .person-login-box .login-box-text label {
        float: left;
        color: #fff;
        font-size: 12px; }
      .index-container .person-login .person-login-register-box .login-box-text .login-box-forget {
        float: right;
        text-align: right;
       }
        .index-container .person-login .person-login-box .login-box-text .login-box-forget a {
          font-size: 12px;
          color: #fff; }
        // .index-container .person-login .person-login-box .login-box-text .login-box-forget a:last-child {
        //   // color: #cc0000; }
    .index-container .person-login .person-login-box .login-box-text-success {
      background: #eb6877;
      width: 100%;
      color: #fff;
      margin-top: 20px;
      text-align: center;
      font-weight: 700;
      height: 40px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px; }

.register-password{
  margin-top: 20px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  input{
    width: 100%;
    height: 100%;
    border: solid 1px #dddddd;
    text-indent: 2em;
    color: #aaa;
    border-radius: 10px;
    font-size: 14px;
  }
}