*{
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        // background: url("../images/curriculum/bg4.png") no-repeat;
        // background-size: 100% 100%;
        .curriculum-container {
            width: 100%;
            height: 100%;
            padding: 2% 5% 3% 5%;
            box-sizing: border-box;
            background: url("../images/curriculum/bg7.png") no-repeat;
            background-size: 100% 100%;

            .curriculum-left {
                height: 100%;
                width: 32%;
                float: left;
                box-sizing: border-box;

                //    background-color: #fff;
                .curriculum-box {
                    height: 75%;
                    // position: absolute;
                    background-color: #093753;
                    border-radius: 12px;
                    padding: 5%;
                    box-sizing: border-box;

                    .curriculum-left-top {
                        // background-color: #626262;

                        height: 70%;
                        #canvas{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .curriculum-left-center {
                        border-radius: 12px;
                        // border: solid 4px rgb(22,68,97);
                        background-color: #2c79c0;
                        height: 25%;
                        margin-top: 20px;
                        font-size: 15px;
                        color: #000;
                        padding: 10px;
                        box-sizing: border-box;
                        overflow: hidden;
                        border: solid 5px #0fc2f5;
                        color:#fff;
                        font-size: 15px;

                    }
                }

                .curriculum-left-bottom {
                    height: 20%;
                    border-radius: 12px;
                    font-size: 12px;
                    background-color: #2c79c0;
                    color: #2feeff;
                    font-weight: 700;
                    font-size: 18px;
                    box-sizing: border-box;
                    padding: 5%;
                    margin-top: 10px;
                    border: solid 5px #0fc2f5;
                    box-sizing: border-box;
                }
            }

            .curriculum-right {
                float: left;
                width: 65%;
                height: 100%;
                margin-left: 1%;
                box-sizing: border-box;
                // overflow: hidden;
                .curriculum-right-top {
                    // background-color: #fff;
                    border-radius: 12px;
                    // border: solid 1px #dddddd;
                    height: 28%;
                    // margin-bottom: 2%;
                    position: relative;
                    text-indent: 2em;
                    color:#000;
                    font-weight: 500;
                    padding-top: 30px;
                    box-sizing: border-box;
                    border: solid 5px #0fc2f5;

                    .curriculum-right-top-help {
                        position: absolute;
                        bottom: 10px;
                        background: url("../images/curriculum/bg6.png") no-repeat;
                        background-size: 100% 100%;
                        right: 10px;
                        // background-color: #f19149;
                        border-radius: 8px;
                        width: 120px;
                        font-size: 15px;
                        height: 38px;
                        line-height: 38px;
                        // text-align: center;
                        color:#fff;
                        cursor: pointer;
                    }
                    .curriculum-right-top-help-left{
                        position: absolute;
                        bottom: 10px;
                        right: 140px;
                        cursor: pointer;
                        display: none;

                    }
                }

                .curriculum-right-center {
                    height: 70%;
                    // margin-top: 2%;
                    width: 100%;
                    box-sizing: border-box;
                    position: absolute;
                    bottom: 0;

                    .curriculum-right-center-left {
                        width: 30%;
                        height: 100%;
                        float: left;
                        margin-right: 1%;
                        background-color:#2c79c0;
                        border-radius: 12px;
                        box-sizing: border-box;
                        border: solid 5px #0fc2f5;
                        // border: solid 1px #dddddd;
                        .curriculum-right-center-left-button{
                            display:flex;
                            flex-direction:column;
                            margin:10px 17px 0 13px;
                            h3{
                                text-align: center;
                                color:#2feeff;
                                letter-spacing:5px;
                                font-weight: 700;
                            }
                            .curriculum-right-center-left-button-left,
                            .curriculum-right-center-left-button-right,
                            .curriculum-right-center-left-button-down,
                            .curriculum-right-center-left-button-up,
                            .curriculum-right-center-left-button-refresh{
                                font-weight: 700;
                                color:#fff;
                                font-size: 16px;
                                padding: 10px 30px;
                                background-color: #094274;
                                margin-top: 10px;
                                border-radius: 10px;
                                text-align:center;
                                cursor: pointer;
                                white-space:nowrap;
                                .iconfont{
                                    float: left;
                                }
                            }
                        }
                    
                    }
                    #editor{
                        width: 68.5%;
                        height: 100%;
                        // float: right;
                    }

                    // .curriculum-right-center-right {
                    //     width: 68.5%;
                    //     height: 100%;
                    //     float: right;
                    //     // background-color: #fff;
                    //     border-radius: 12px;
                    //     // border: solid 1px #dddddd;
                    //     #editor{
                    //         height: 100%;
                    //         width: 100%;
                    //         border-radius: 10px;
                    //     }
                    // }

                }
                .curriculum-right-bottom{
                    margin-top: 10px;
                    height: 20%;
                    display:flex;
                    .curriculum-right-bottom-image{
                        // height:100%;
                        padding: 5% 5%;
                        background-color: rgb(10,55,84);
                        border-radius: 10px;
                        border: solid 5px #2a6f90;
                        width:120px;
                        // box-sizing: border-box;
                    }
                    .curriculum-right-bottom-video{
                        // margin:0 24px;
                        margin-left: 2%;
                        // height:124px;
                        width:40%;
                        background-color: rgb(10,55,84);
                        // background-color: #fff;
                        border-radius: 12px;
                        // border: solid 1px #dddddd;
                        .curriculum-video{
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            object-fit: fill
                        }
                    }
                    .curriculum-right-bottom-share{
                        width: 50%;
                        display: flex;
                        align-items: center;
                        padding-left: 5.5%;
                        box-sizing: border-box;
                        padding-bottom: 2.5%;
                        .curriculum-right-bottom-share-save,
                        .curriculum-right-bottom-share-share,
                        .curriculum-right-bottom-share-return
                        {
                            width:60px;
                            height:60px;
                            margin-right: 15px;
                            text-align: center;
                            cursor: pointer;
                            img{
                                width:60px;
                                height:60px;
                            }
                            p{
                                color: #fff;
                                font-weight: 700;
                            }
                        }
                        
                    }
                    .curricu-right-go{
                        display:flex;
                        align-items:center;
                        cursor: pointer;
                        z-index: 10;
                        img{
                            width: 170px;
                            height: 130px;
                            margin-top: 13px;
                        
                        }
                    }
                }
            }

        }
    }
}


.curriculum-right-top-cont{
    height: 75%;
    position: relative;
    .curriculum-right-top{
        .curriculum-right-top-text{
            // text-indent: 10px;
            border-radius: 10px;
            textarea{
                width: 100%;
                border: 0;
                left: 0;
                top: 0;
                position: absolute;
                height: 100%;
                background: #2c79c0;
                color: #fff;
                font-size: 20px;
                border-radius: 10px;
                padding-left: 10px;
                box-sizing: border-box;
                padding-top: 10px;
            }

        }

       
    }
}
.curriculum-box-c{
    width: 100%;
    height: 100%;
    // padding: 2%;
    // background:url("../images/curriculum/bg3.png");
    // background-size: 100%;
    padding:2% 2% 0 4%;
    box-sizing: border-box;
    position: relative;
    // border-bottom-right-radius: 50px;
    // border-top-left-radius: 70px;
    .curriculum-box1{
        position: absolute;
        top:10px;
        left:5px;
        height: 65%;
    }
    .curriculum-box2{
        position: absolute;
        right:5px;
        bottom: 10px;
        height: 57%;
        z-index: 1;
    }
}

.dialog{
    background: url("../images/curriculum/dialog.png");
    width: 451px;
    height: 245px;
    opacity: 0.87;
    display: none;
   
}

.visibility{
    background: url("../images/curriculum/dialog.png");
    background-size: 100% 100%;
    width: 514px;
    height: 245px;
    // opacity: 0.87;
    // visibility: visible;
    display: block;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .dialog-contnet{
        padding-left:20%;
        padding-top: 60px;
        p{
            width: 289px;
            height: 60px;
            font-family: MicrosoftYaHei;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 2.2px;
            color: #ffffff;
        } 
        img{
            margin-right: 20px;
        }   
        h5{
            font-family: MicrosoftYaHei;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 1.4px;
            color: #ffffff;
            margin-left: 20%;
            span{
                color:#00fec5;
            }
        }
        h6{
            font-family: MicrosoftYaHei;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 1.4px;
            color: #ffffff;
            margin-left: 20%;
            span{
                color:#00fec5;
            }
        }

    }
   
}
.iconfont{
    font-size: 20px!important;
}