html,body{
    height: 100%;
    width: 100%;
    .interest-container{
        height: 100%;
        width: 100%;
        .choice-container{
            background: url("../images/interest/bg-blue2.png") no-repeat;
            background-size: 100% 120%;
            background-position-y: -10px;
            width: 445px;
            height: 547px;
            display: flex;
            flex-direction: row;
            z-index: 100;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border-radius: 10px;
            .interest-container-choice-left{
                // margin-top: -20px;
                z-index: 10;
                img{
                    margin-right: -225px;
                    height: 400px;
                    z-index: 10;
                 } 
               
            }
            .interest-container-choice{
                z-index: 11;
                width: 380px;
                height: 495px;
                background-color: #3498e9;
                box-shadow: 0px 4px 12px 1px 
                    rgba(0, 0, 0, 0.32);
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                .interest-container-choice-center{
                    width: 356px;
                    height: 468px;
                    background: url("../images/interest/bg-blue.png");
                    border-radius: 10px;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .interest-container-choice-center-title{
                        padding:50px 33.3% 0px 33.3%;
                        width: 25%;
                        h1{
                            width: 239px;
                            height: 24px;
                            font-family: MicrosoftYaHei;
                            font-size: 22px;
                            font-weight: normal;
                            font-stretch: normal;
                            letter-spacing: 0px;
                            color:#fff;
                        }
                    }
                    .interest-container-choice-center-content1{
                        width: 100%;
                        margin-top: 42px;
                        input{
                            // background-color: rgb(0,99,179)!important;
                            color:#ccc;
                            z-index: 999;
                            position: relative;
                        }
                        input::-webkit-input-placeholder{
                            // background-color: rgb(0,99,179);
                            color:#fff;
                            z-index: 999;
                            position: relative;
                        }
                        input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                            color:#fff;
                            z-index: 999;
                            position: relative;
                         }
                         input::-moz-placeholder { /* Mozilla Firefox 19+ */
                            color:#fff;
                            z-index: 999;
                            position: relative;
                         }
                         input::-ms-input-placeholder { /* Internet Explorer 10-11 */
                            color:#fff;
                            z-index: 999;
                            position: relative;
                         }
        
                        .interest-container-choice-center-content1-text{
                            width: 70%;
                            background-color: rgba(255, 255, 255, .0);
                            // margin-top: 67px;
                            border: 0;
                            outline:medium;
                            height: 40px;
                            margin-left: 10%;
                            color: #fff;

                        }
                        .interest-container-choice-center-content1-line{
                            width: 80%;
                            margin-left: 10%;
                            height: 1px;
                            background-color: #8ac6fc;
                        }
                    }
                    .interest-container-choice-center-content2{
                        width: 100%;
                        margin-top: 42px;
                        display: flex;
                        flex-direction: row;
                         .interest-container-choice-center-content2-left{
                             width: 60%;
                             margin-left: 10%;
                            input{
                                // background-color: rgb(0,99,179)!important;
                                color:#ccc;
                                // float: left;
                            }
                            input::-webkit-input-placeholder{
                                // background-color: rgb(0,99,179);
                                color:#fff;
                            }
                            input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                                color:#fff;
                             }
                             input::-moz-placeholder { /* Mozilla Firefox 19+ */
                                color:#fff;
                             }
                             input::-ms-input-placeholder { /* Internet Explorer 10-11 */
                                color:#fff;
                             }
                             .interest-container-choice-center-content2-text{
                                width: 100%;
                                background-color: rgba(255, 255, 255, .0);
                               
                                border: 0;
                                outline:medium;
                                height: 40px;
                                
                                color: #fff;
                            }
                         }

                         .interest-container-choice-center-content2-right{
                            width: 40%;
                            input{
                                width: 100%;
                                border: none;
                                float: left;
                                background: rgba(255,255,255,0);
                                // position: absolute;
                                font-family: MicrosoftYaHei;
                                font-size: 12px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 0px;
                                color: #86e5ff;
                                cursor: pointer;
                                outline:medium;
                                height: 40px;
                                line-height: 40px;
                            }
                         }
                         
                       
                       
                    }

                    .interest-container-choice-center-content2-line{
                        width: 80%;
                        
                        height: 1px;
                        background-color: #8ac6fc;
                    } 

                    .interest-container-choice-centent-login{
                        float: right;
                        margin-top: 70px;
                        text-align: right;
                        p{
                            font-family: MicrosoftYaHei;
                            font-size: 12px;
                            font-weight: normal;
                            font-stretch: normal;
                            letter-spacing: 0px;
                            color: #ffffff;
                            a{
                                font-family: MicrosoftYaHei;
                                font-size: 12px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 0px;
                                color: #2ccffb;
                                text-decoration : none;
                            }
                        }
                    }
                   
                    .interest-container-choice-center-button{
                        width: 260px;
                        height: 42px;
                        background-image: linear-gradient(0deg, 
                            #1568ff 0%, 
                            #2598ff 50%, 
                            #2ed2fb 100%, 
                            #37b4fd 100%, 
                            #4095ff 100%, 
                            #9f70a5 100%, 
                            #fd4a4a 100%), 
                        linear-gradient(
                            #ff0000, 
                            #ff0000);
                        background-blend-mode: normal, 
                            normal;
                        border-radius: 10px;
                        p{
                            width: 46px;
                            height: 17px;
                            font-family: MicrosoftYaHei-Bold;
                            font-size: 20px;
                            font-weight: normal;
                            font-stretch: normal;
                            letter-spacing: 0px;
                            color: #fefefe;
                            margin:5px 109px;
                        }
                    }
                   
                } 
                
            }
            .interest-container-choice-right{
                z-index: 10;
                // margin-top: 115px;
                margin-top: 145px;
                img{
                   margin-left: -240px;
                   height: 400px;
                } 
       }
        }
    }
}