html{
    width: 100%;
    height: 100%;
    background: #000;
    body{
        width: 100%;
        height: 100%;
        .index-banner-container{
            width: 100%;
            height: 70px;
            top: 0;
            left: 0;
            z-index: 999;
            position:absolute;
            background: #fff;
            display: flex;
            flex-direction: row;
            .index-banner-container-logo{
                padding-left: 3%;
                // padding-right: 5%;
                width: 25%;
                display: flex;
                flex-direction: row;
                line-height: 70px;
                font-size: 17px;
                .index-banner-container-logo-img{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .container-logo-img-first{
                        img{
                            padding-top:10px;
                            
                        }
                    }
                    .container-logo-img-second{
                        img{
                            // padding-top:10px;
                            padding-left: 20px;
                            
                        }
                    }

                }
                .index-banner-container-logo-text{
                    padding-left: 15px;
                    text-emphasis: 10px;
                }
            }
            .index-banner-container-center{
                width: 50%;
                ul{
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    li{
                        width: 20%;
                        font-family: MicrosoftYaHei;
                        font-size: 20px;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: 0px;
                        text-align: center;
                        color: #020057;
                        line-height: 70px; 
                        .active{
                            background-color: #195bf0;
                            color: #fff;
                        }
                        .twowords{
                            letter-spacing: 10px;
                        }       
                        

                    }
                }
            }
            .index-banner-container-right{
                width: 15%;
                padding-left: 8%;
                // padding-right: 5%;
                top: 0;
                right: 0;
                position: absolute;
                ul{
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    li{
                        width: 30%;
                        font-family: MicrosoftYaHei;
                        font-size: 20px;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: 0px;
                        color: #020057;
                        line-height: 70px; 
                        text-align: center;
                        img{
                            padding-top:15px;
                        }
                    }
                }
            }
        }

        .index-container{
            height: 100%;
            width: 100%;
            // padding-top:70px;

            .index-container2{
                width: 100%;
                height: 570px;
                background: #fff;
                display: flex;
                flex-direction: row;
                padding-top: 100px;
                
                .index-container2-left{
                    width: 50%;
                    height: 100%;
                    padding-left: 12%;

                }
                .index-container2-right{
                    width: 50%;
                    height:100%;
                    margin-top: 50px;
                    h1{
                        font-family: MicrosoftYaHei;
                        font-size: 50px;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: 0px;
                        color: #0060fe;
                        line-height: 50px;
                        margin-bottom: 40px;
                    }

                }
            }

            .index-container3{
                width:100%;
                height:800px;
                background-color: #417bff;
                display: flex;
                flex-direction: column;
                align-content: center;
                .index-container3-top{
                    height:23%;
                    width: 100%;
                    h1{
                        font-family: MicrosoftYaHei;
                        font-size: 56px;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: 0px;
                        color: #f1f5ff;
                        text-align: center;
                        padding-top:60px;
                    }

                }
                .index-container3-bottom{
                    height: 70%;
                    width: 100%;

                }

            }

            .index-container4{
                height:734px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-content: center;
                background: #fff;
                .index-container4-top{
                    padding-top: 90px;
                    h1{
                        font-family: MicrosoftYaHei;
                        font-size: 50px;
                        font-weight: normal;
                        font-stretch: normal;
                        line-height: 61.5px;
                        letter-spacing: 0px;
                        color: #1d68ff;
                        text-align: center;
                    }
                    h2{
                        font-family: MicrosoftYaHei;
                        font-size: 36px;
                        font-weight: normal;
                        letter-spacing: 0px;
                        color: #1d68ff;
                        text-align: center;
                    }

                }
                .index-container4-bottom{
                    display: flex;
                    align-content: center;
                    flex-direction: row;
                    .index-container4-bottom-left{
                        padding-left: 134px;
                        padding-top: 40px;

                    }
                    .index-container4-bottom-right{
                        padding-left: 160px;
                        padding-top: 50px;

                    }
                }
            }

            .index-container5{
                height:700px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-content: center;
                background-color: #ff8560;
                .index-container5-top{
                    height:30%;
                    width: 100%;
                    padding-top: 80px;
                    h1{
                        // padding-top: 90px;
                        font-family: MicrosoftYaHei;
                        font-size: 56.2px;
                        font-weight: normal;
                        font-stretch: normal;
                        line-height: 61.5px;
                        letter-spacing: 0px;
                        color: #f1f5ff;
                        text-align: center;
                    }

                    h2{
                        font-family: MicrosoftYaHei;
                        font-size: 36px;
                        font-weight: normal;
                        letter-spacing: 0px;
                        color: #ffffff;
                        text-align: center;
                        padding-top: 10px;
                       
                    }
                }
                .index-container5-bottom{
                    height: 100%;
                    width: 70%;
                    display: flex;
                    flex-direction: row;
                    // align-content: flex-start;
                    align-items: flex-end;
                    padding-left: 13.7%;
                    padding-right: 13.7%;
                    padding-bottom: 90px;
                    .index-container5-bottom1{
                        width: 140px;
                        height: 172px;
                        border-radius: 8px;
                        background: url("../images/index-new/l6.png");
                        background-size: 100% 100%;
                        margin-right:30px;
                        position: relative;
                        .index-container5-bottom1-before{
                            display: block;
                            h1{
                                text-align: center;
                                font-family: FZXBSJW--GB1-0;
                                font-size: 38px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 1.5px;
                                color: #ffffff;

                            }
                            h2{
                                text-align: center;
                                font-family: FZHTK--GBK1-0;
                                font-size: 24px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 1px;
                                color: #ffffff;
                                padding-top: 70px;
                            }

                        }
                        .index-container5-bottom1-after{
                            display: none;
                            padding-left: 5px;
                            padding-right: 5px;                          
                            h1{
                               
                                font-family: FZHTK--GBK1-0;
                                font-size: 16px;
                                font-weight: normal;
                                font-stretch: normal;
                                line-height: 30px;
                                letter-spacing: 0px;
                                color: #ffffff;
                                // bottom: 5px;
                                position: absolute;
                            }
                        }
                    }
                    .index-container5-bottom2{
                        width: 140px;
                        height: 219px;
                        border-radius: 8px;
                        background: url("../images/index-new/l5.png");
                        background-size: 100% 100%;
                        margin-right:30px;
                        position: relative;
                        .index-container5-bottom2-before{
                            display: block;
                            h1{
                                font-family: FZXBSJW--GB1-0;
                                font-size: 38px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 1.5px;
                                color: #ffffff;
                                text-align: center;

                            }
                            h2{
                                font-family: FZHTK--GBK1-0;
                                font-size: 24px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 1px;
                                color: #ffffff;
                                text-align: center;
                                padding-top: 115px;

                            }
                        }
                        .index-container5-bottom2-after{
                            display: none;
                            padding-left: 9px;
                            padding-right: 9px;
                            h1{
                                
                                font-family: FZHTK--GBK1-0;
                                font-size: 16px;
                                font-weight: normal;
                                font-stretch: normal;
                                line-height: 30px;
                                letter-spacing: 0px;
                                color: #ffffff;
                                bottom: 15px;
                                position: absolute;
                            }
                            
                        }
                        
                    }

                    .index-container5-bottom3{
                        width: 140px;
                        height: 257px;
                        border-radius: 8px;
                        background: url("../images/index-new/l4.png");
                        background-size: 100% 100%;
                        margin-right:30px;
                        position: relative;
                        .index-container5-bottom3-before{
                            display: block;
                            h1{
                                font-family: FZXBSJW--GB1-0;
                                font-size: 38px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 1.5px;
                                color: #ffffff;
                                text-align: center;

                            }
                            h2{
                                font-family: FZHTK--GBK1-0;
                                font-size: 24px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 1px;
                                color: #ffffff;
                                text-align: center;
                                padding-top:150px;
                            }


                        }
                        .index-container5-bottom3-after{
                            display: none;
                            padding-left: 9px;
                            padding-right: 9px;
                            bottom: 17px;
                            position: absolute;
                            h1{
                                font-family: FZHTK--GBK1-0;
                                font-size: 16px;
                                font-weight: normal;
                                font-stretch: normal;
                                line-height: 30px;
                                letter-spacing: 0px;
                                color: #ffffff;
                                
                            }
                            
                        }
                        
                    }

                    .index-container5-bottom4{
                        width: 140px;
                        height: 309px;
                        border-radius: 8px;
                        background: url("../images/index-new/l3.png");
                        background-size: 100% 100%;
                        margin-right:30px;
                        position: relative;
                        .index-container5-bottom4-before{
                            display: block;
                            h1{
                                font-family: FZXBSJW--GB1-0;
                                font-size: 38px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 1.5px;
                                color: #ffffff;
                                text-align: center;

                            }
                            h2{
                                font-family: FZHTK--GBK1-0;
                                font-size: 24px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 1px;
                                color: #ffffff;
                                text-align: center;
                                padding-top: 200px;

                            }


                        }
                        .index-container5-bottom4-after{
                            display: none;
                            padding-left: 9px;
                            padding-right: 9px;

                            h1{
                                font-family: FZHTK--GBK1-0;
                                font-size: 16px;
                                font-weight: normal;
                                font-stretch: normal;
                                line-height: 30px;
                                letter-spacing: 0px;
                                color: #ffffff;
                                position: absolute;
                                bottom: 15px;
                            }
                            
                        }
                        
                    }

                    .index-container5-bottom5{
                        width: 140px;
                        height: 358px;
                        border-radius: 8px;
                        background: url("../images/index-new/l2.png");
                        background-size: 100% 100%;
                        margin-right:30px;
                        position: relative;
                        .index-container5-bottom5-before{
                            display: block;
                            h1{
                                font-family: FZXBSJW--GB1-0;
                                font-size: 38px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 1.5px;
                                color: #ffffff;
                                text-align: center;


                            }
                            h2{
                                font-family: FZHTK--GBK1-0;
                                font-size: 24px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 1px;
                                color: #ffffff;
                                text-align: center;
                                padding-top: 251px;
                            }


                        }
                        .index-container5-bottom5-after{
                            display: none;
                            position: absolute;
                            bottom: 15px;
                            padding-left: 9px;
                            padding-right: 9px;
                            h1{
                               
                                font-family: FZHTK--GBK1-0;
                                font-size: 16px;
                                font-weight: normal;
                                font-stretch: normal;
                                line-height: 30px;
                                letter-spacing: 0px;
                                color: #ffffff;
                            }
                            
                        }
                        
                    }

                    .index-container5-bottom6{
                        width: 140px;
                        height: 401px;
                        border-radius: 8px;
                        background: url("../images/index-new/l1.png");
                        background-size: 100% 100%;
                        margin-right:13px;
                        position: relative;
                        .index-container5-bottom6-before{
                            display: block;
                            h1{
                                font-family: FZXBSJW--GB1-0;
                                font-size: 38px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 1.5px;
                                color: #ffffff;
                                text-align: center

                            }
                            h2{
                                font-family: FZHTK--GBK1-0;
                                font-size: 24px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 1px;
                                color: #ffffff;
                                bottom: 15px;
                                text-align: center;
                                padding-top: 290px;
                            }


                        }
                        .index-container5-bottom6-after{
                            display: none;
                            position: absolute;
                            bottom: 15px;
                            padding-left: 9px;
                            padding-right: 9px;
                            h1{
                               
                                font-family: FZHTK--GBK1-0;
                                font-size: 16px;
                                font-weight: normal;
                                font-stretch: normal;
                                line-height: 30px;
                                letter-spacing: 0px;
                                color: #ffffff;
                            }
                            
                        }
                        
                    }



                }
            }

            .index-container6{
                width: 100%;
                height: 600px;
                background: #fff;
                display: flex;
                flex-direction: column;
                align-content: center;
                .index-container6-top{
                    height: 30%;
                    width: 100%;
                    h1{
                        font-family: MicrosoftYaHei;
                        font-size: 56.2px;
                        font-weight: normal;
                        font-stretch: normal;
                        line-height: 61.5px;
                        letter-spacing: 0px;
                        color: #195fff;
                        text-align: center;
                        padding-top: 90px;
                    }
                    h2{
                        font-size: 36px;
                        font-weight: normal;
                        letter-spacing: 0px;
                        color: #195fff;
                        text-align: center;
                        padding-top: 10px;
                    }

                }
                .index-container6-bottom{
                    height: 70%;
                    width: 30%;
                    padding-left: 35%;
                    padding-right: 35%;
                    padding-top: 100px;
                    display: flex;
                    flex-direction: row;
                }
            }

            .index-footer{
                width: 70%;
                height: 300px;
                display: flex;
                flex-direction: row;
                padding-left: 20%;
                padding-right: 10%;
                padding-top: 90px;
                background-color: #3064fa;
                .index-footer1{
                    width: 16%;
                    height: 100%;
                    h1{
                        font-family: MicrosoftYaHei;
                        font-size: 18px;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: 0px;
                        color: #ffffff;
                        padding-bottom: 20px;
                    }

                }
                .index-footer2{
                    width: 16%;
                    height: 100%;
                    h1{
                        font-family: MicrosoftYaHei;
                        font-size: 18px;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: 0px;
                        color: #ffffff;
                        padding-bottom: 20px;
                    }
                    
                }
                .index-footer3{
                    width: 30%;
                    height: 100%;
                    h1{
                        font-family: MicrosoftYaHei;
                        font-size: 18px;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: 0px;
                        color: #ffffff;
                        padding-bottom: 20px;
                    }
                    
                }
                .index-footer4{
                    width: 16%;
                    height: 100%;
                    img{
                        padding-left:50%;
                        padding-right: 20%;
                    }
                   
                    
                }
            }
            
        }

    }
}