html,
body {
    width: 100%;
    height: 100%;

    .person-container {
        width: 100%;
        height: 100%;
        // background: url("../images/login/bg-1.png") no-repeat;
        // background-size: 100% 100%;

        .person-register-box {
            width: 100%;
            height: 100%;
            background-color: rgba(32, 85, 201, .6) !important;
            // border: 10px solid rgba(0, 0, 0, 0.33);
            box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.6);
            // opacity: 0.6;
            background: -webkit-linear-gradient(left top, rgb(42, 56, 200), rgb(23, 128, 204));
            /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(bottom right, rgb(42, 56, 200), rgb(23, 128, 204));
            /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(bottom right, rgb(42, 56, 200), rgb(23, 128, 204));
            /* Firefox 3.6 - 15 */
            background: linear-gradient(to bottom right, rgb(42, 56, 200), rgb(23, 128, 204));

            .infophonenum{
                border-radius: 10px;
                margin-top: 12px;
                width: 100%;
                height: 40px;
                line-height: 40px;
                position: relative!important;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                input{
                width: 100%;
                height: 100%;
                border: solid 1px #dddddd;
                text-indent: 2em;
                color:#aaa;
                border-radius: 10px;
                font-size: 14px;
                }
                .icon-shouji{
                position: absolute!important;
                left:0;
                color: #ccc;
                text-indent: .5em;
                font-size: 17px!important;
                top:0;
                font-size: 16px;
                }
            }

            /* 标准的语法 */
            h3 {
                letter-spacing: 10px;
                color: #fff !important;
            }

            .register-phone{
                margin-top: 12px;
            }

           

            input[type=text],
            input[type=button],
            input[type=password] {
                background-color: rgb(0, 99, 179) !important;
                color: #fff;
            }

            input[type=text],
            input[type=button],
            input[type=password] {
                background-color: rgb(0, 99, 179) !important;
                // color:#fff;
            }

            input[type=text]::-webkit-input-placeholder,
            input[type=button]::-webkit-input-placeholder,
            input[type=password]::-webkit-input-placeholder {
                background-color: rgb(0, 99, 179) !important;
                color: #fff;
            }

            input[type=text]::-moz-placeholder input[type=button]::-moz-placeholder,
            input[type=password]::-moz-placeholder {
                background-color: rgb(0, 99, 179) !important;
                color: #fff;
            }

            input[type=text]::-ms-input-placeholder,
            input[type=button]::-ms-input-placeholder,
            input[type=password]::-ms-input-placeholder {
                background-color: rgb(0, 99, 179) !important;
                color: #fff;
            }

            .register-success {
                margin-top: 40px !important;
                background: url("../images/register/button.png") no-repeat;
                background-size: 100% 100%;
                border-radius: 15px;
                p{
                    padding-top: 6px;
                    cursor: pointer;
                }
            }

           

        }
    }
}

.person-register-container {
    background-color: rgba(133, 200, 255, .15);
    width: 430px;
    height: 550px;
    // background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    // padding: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    border-top-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;

    .register-bg1 {
        position: absolute;
        left: -25px;
        top: 0;
    }

    .register-bg2 {
        position: absolute;
        bottom: 0;
        right: -25px;
    }
}
#container{
    width: 100%;
    height: 100%;
    #scene{
        width: 100%;
        height: 100%;
        .layer{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

.infophonenum1{
    position: relative;
    #zane-calendar{
        position: absolute;
        left:0;
        width: 100%;
    }
}
#info_city{
    border: solid 1px #dddddd;
    color:#fff;
    text-align: left;
    text-indent: 2em;
    margin-top: 12px;
    padding-left: 0!important;
}