html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body{
    position: relative;
    .body-img{
        position: absolute;
        right:3%;
        top:4%;
        z-index: 10;
        cursor: pointer;
    }
}
.recommendation-container{
    width: 100%;
    height: 100%;
    background: url("../images/recommendation/bg-1.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 3% 6%;
    box-sizing: border-box;
    .rec-bg1{
        position: absolute;
        top:4.9%;
        left:5.6%;
    }
    .rec-bg2{
        position: absolute;
        right:6%;
        bottom:6.7%;
    }
    .recommendation-header{
        // position: absolute;
        width: 100%;
        box-sizing: border-box;
        padding-left: 60px;
        padding-top: 40px;
        img,h3{
            display: inline;
            color:#fff;
            font-weight: 700;
            font-size: 18px;
        }
        img{
            vertical-align: middle;
        }
    }
    .recommendation-box{
        width: 100%;
        height: 80%;
        // position: absolute;
        top:100px;
        padding: 2% 10%;
        box-sizing: border-box;
        ul{
            width: 100%;
            height: 80%;
            box-sizing: border-box;
            li{
                float: left;
                width: 45%;
                padding:10px;
                // padding-bottom: 0;
                box-sizing: border-box;
                background:url("../images/recommendation/2.png") no-repeat;
                background-size: 100% 100%;
                border-radius: 10px;
                margin-bottom: 20px;
                a{
                    display: block;
                    width: 100%;
                    height: 100px;
                    // padding: 20px 10px;
                    .recommendation-left{
                        float: left;
                        width: 24%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        box-sizing: border-box;
                        // margin-right: 20px;
                        img{
                            width: 100%;
                            height: 100%;
                            align-items: center;
                        }
                    }
                    .recommendation-right{
                        float: right;
                       width: 74%;
                       height: 100%;
                       margin-left: 2%;
                       box-sizing: border-box;
                       padding: 5px;
                       h3{
                           color:#fff;
                           font-weight: 700;
                           font-size: 17px;
                        //    padding-top: 10px;
                        padding-bottom: 10px;
                       }
                       p{
                           color:#fff;
                           font-size: 13px;
                       }
                    }
                }

            }
            li:nth-child(1){
                background:url("../images/recommendation/1.png") no-repeat;
                background-size: 100% 100%;
            }
            li:nth-child(3){
                background:url("../images/recommendation/3.png") no-repeat;
                background-size: 100% 100%;
            }
            li:nth-child(4){
                background:url("../images/recommendation/4.png") no-repeat;
                background-size: 100% 100%;
            }
            li:nth-child(5){
                background:url("../images/recommendation/5.png") no-repeat;
                background-size: 100% 100%;
            }
            li:nth-child(6){
                background:url("../images/recommendation/6.png") no-repeat;
                background-size: 100% 100%;
            }
            li:nth-child(odd){
                margin-right: 10%;
            }
        }
    }
    .recommendation-footer{
        width: 100%;
        height: 20%;
        margin-top: 2%;
        .recommendation-footer-left{
            height: 50px;
            line-height: 50px;
            width: 30%;
            float: left;
            background: url("../images/recommendation/1.png") no-repeat;
            background-size:100% 100%;
            color:#fff;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
        }
        .recommendation-footer-right{
            height: 50px;
            line-height: 50px;
            width: 25%;
            float: right;
            background: url("../images/recommendation/bg8.png") no-repeat;
            background-size:100% 100%;
            color:#fff;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
        }
    }
}