html {
  width: 100%;
  height: 100%; }
  html body {
    width: 100%;
    height: 100%; }
    html body .curriculum-container {
      width: 100%;
      height: 100%;
      padding: 3% 5%;
      box-sizing: border-box;
      background-color: rgba(152, 203, 244, 0.8); }
      html body .curriculum-container .curriculum-left {
        height: 100%;
        width: 32%;
        float: left;
        box-sizing: border-box; }
        html body .curriculum-container .curriculum-left .curriculum-box {
          height: 75%;
          background-color: #fff;
          border-radius: 12px;
          padding: 5%;
          box-sizing: border-box;
          border: solid 1px #dddddd; }
          html body .curriculum-container .curriculum-left .curriculum-box .curriculum-left-top {
            height: 70%; }
            html body .curriculum-container .curriculum-left .curriculum-box .curriculum-left-top #canvas {
              width: 100%;
              height: 100%; }
          html body .curriculum-container .curriculum-left .curriculum-box .curriculum-left-center {
            border-radius: 12px;
            border: solid 4px #ffff00;
            height: 25%;
            margin-top: 20px;
            font-size: 12px;
            color: #ccc;
            padding: 10px;
            box-sizing: border-box; }
        html body .curriculum-container .curriculum-left .curriculum-left-bottom {
          height: 20%;
          border-radius: 12px;
          border: solid 1px #dddddd;
          font-size: 12px;
          background-color: #fff;
          color: #aaaaaa;
          box-sizing: border-box;
          padding: 5%;
          margin-top: 20px; }
      html body .curriculum-container .curriculum-right {
        float: left;
        width: 66%;
        height: 100%;
        margin-left: 1%; }
        html body .curriculum-container .curriculum-right .curriculum-right-top {
          background-color: #fff;
          border-radius: 12px;
          border: solid 1px #dddddd;
          height: 20.5%;
          position: relative; }
          html body .curriculum-container .curriculum-right .curriculum-right-top .curriculum-right-top-help {
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: #f19149;
            border-radius: 8px;
            width: 120px;
            font-size: 15px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            color: #fff; }
        html body .curriculum-container .curriculum-right .curriculum-right-center {
          height: 50.5%;
          margin-top: 20px;
          width: 100%; }
          html body .curriculum-container .curriculum-right .curriculum-right-center .curriculum-right-center-left {
            width: 30%;
            height: 100%;
            float: left;
            margin-right: 2%;
            background-color: #fff;
            border-radius: 12px;
            border: solid 1px #dddddd; }
            html body .curriculum-container .curriculum-right .curriculum-right-center .curriculum-right-center-left .curriculum-right-center-left-button {
              display: flex;
              flex-direction: column;
              margin: 35px 17px 0 13px; }
          html body .curriculum-container .curriculum-right .curriculum-right-center .curriculum-right-center-right {
            width: 67%;
            height: 100%;
            float: left;
            border-radius: 12px;
            border: solid 1px #dddddd; }
            html body .curriculum-container .curriculum-right .curriculum-right-center .curriculum-right-center-right #editor {
              height: 100%;
              border-radius: 10px; }
        html body .curriculum-container .curriculum-right .curriculum-right-bottom {
          margin-top: 20px;
          display: flex; }
          html body .curriculum-container .curriculum-right .curriculum-right-bottom .curriculum-right-bottom-image {
            height: 124px;
            width: 120px; }
          html body .curriculum-container .curriculum-right .curriculum-right-bottom .curriculum-right-bottom-video {
            margin: 0 24px;
            height: 124px;
            width: 30%;
            background-color: #fff;
            border-radius: 12px;
            border: solid 1px #dddddd; }
          html body .curriculum-container .curriculum-right .curriculum-right-bottom .curriculum-right-bottom-share {
            width: 50%;
            display: flex;
            justify-content: flex-end; }
            html body .curriculum-container .curriculum-right .curriculum-right-bottom .curriculum-right-bottom-share .curriculum-right-bottom-share-save {
              width: 68px;
              height: 68px;
              margin: 0 10px 0 0; }
              html body .curriculum-container .curriculum-right .curriculum-right-bottom .curriculum-right-bottom-share .curriculum-right-bottom-share-save img {
                width: 68px;
                height: 68px; }
            html body .curriculum-container .curriculum-right .curriculum-right-bottom .curriculum-right-bottom-share .curriculum-right-bottom-share-share {
              width: 68px;
              height: 68px;
              margin: 0 10px 0 0; }
              html body .curriculum-container .curriculum-right .curriculum-right-bottom .curriculum-right-bottom-share .curriculum-right-bottom-share-share img {
                width: 68px;
                height: 68px; }
            html body .curriculum-container .curriculum-right .curriculum-right-bottom .curriculum-right-bottom-share .curriculum-right-bottom-share-return {
              width: 68px;
              height: 68px;
              margin: 0 10px 0 0; }
              html body .curriculum-container .curriculum-right .curriculum-right-bottom .curriculum-right-bottom-share .curriculum-right-bottom-share-return img {
                width: 68px;
                height: 68px; }
