.person-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

.person-container .person-header {
  background-color: #fff;
  height: 68px;
  padding: 0 5%;
  box-sizing: border-box; }

.person-container .person-header .person-logo {
  float: left;
  height: 100%;
  width: 15%;
  vertical-align: middle; }

.person-container .person-header .person-logo img {
  width: 100%;
  height: 100%; }

.person-container .person-header .person-anv {
  float: left;
  width: 70%;
  height: 100%; }

.person-container .person-header .person-anv ul {
  float: left;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.person-container .person-header .person-anv ul li {
  float: left;
  width: 100px;
  margin: 0 10px;
  box-sizing: border-box;
  position: relative; }

.person-container .person-header .person-anv ul li a {
  color: #000;
  width: 100%;
  height: 26px;
  line-height: 17px;
  display: block;
  position: absolute;
  top: 50%;
  margin: -13px 0 0 0;
  text-align: center;
  border-right: solid 1px #8a8a8a; }

.person-container .person-header .person-anv ul li a .person-anv-text h3 {
  font-size: 14px;
  color: #333333; }

.person-container .person-header .person-anv ul li a .person-anv-text h5 {
  font-size: 12px;
  color: #b6b6b6; }

.person-container .person-header .person-anv ul .active {
  border-bottom: 3px solid #7ecef4; }

.person-container .person-header .person-register-login {
  float: right;
  height: 100%;
  width: 15%;
  line-height: 62px; }

.person-container .person-header .person-register-login h3 {
  font-size: 14px;
  float: left; }

.person-container .person-header .person-register-login h3 a:first-child {
  color: #6a6a6a; }

.person-container .person-header .person-register-login h3 a:last-child {
  color: #6ab7d1; }

.person-container .person-header .person-register-login .person-register-image {
  float: left;
  margin-left: 10px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; }

.person-container .person-header .person-register-login .person-register-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; }

.person-container .person-banner {
  height: 370px;
  width: 100%;
  border-top: 0;
  opacity: 0.2; }

.person-container .person-banner .person-banner-content {
  background-color: #7ecef4;
  height: 100%;
  margin: 0 10px;
  border: solid 1px #8a8a8a;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35); }

.person-container .person-show {
  width: 100%;
  height: 280px;
  padding: 30px 0;
  margin: 0 auto; }

.person-container .person-show ul {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex; }

.person-container .person-show ul li {
  float: left;
  width: 20%;
  height: 100%;
  flex: 1;
  background-color: #3498e9;
  opacity: 0.5;
  margin-right: 20px; }
