.index-banner-container {
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 999;
  position: absolute;
  background: #195bf0;
  display: flex;
  flex-direction: row; }
  .index-banner-container .index-banner-container-logo {
    padding-left: 3%;
    width: 25%;
    display: flex;
    flex-direction: row;
    line-height: 70px;
    font-size: 17px; }
    .index-banner-container .index-banner-container-logo .index-banner-container-logo-img {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .index-banner-container .index-banner-container-logo .index-banner-container-logo-img .container-logo-img-first img {
        padding-top: 10px; }
      .index-banner-container .index-banner-container-logo .index-banner-container-logo-img .container-logo-img-second img {
        padding-left: 20px; }
    .index-banner-container .index-banner-container-logo .index-banner-container-logo-text {
      padding-left: 15px;
      text-emphasis: 10px;
      color: #fff; }
  .index-banner-container .index-banner-container-center {
    width: 50%; }
    .index-banner-container .index-banner-container-center ul {
      display: flex;
      flex-direction: row;
      align-content: center; }
      .index-banner-container .index-banner-container-center ul li {
        width: 20%;
        font-family: MicrosoftYaHei;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        text-align: center;
        color: #fff;
        line-height: 70px; }
        .index-banner-container .index-banner-container-center ul li .active {
          background-color: #195bf0;
          color: #fff; }
        .index-banner-container .index-banner-container-center ul li .twowords {
          letter-spacing: 10px; }
  .index-banner-container .index-banner-container-right {
    width: 15%;
    padding-left: 8%;
    top: 0;
    right: 0;
    position: absolute; }
    .index-banner-container .index-banner-container-right ul {
      display: flex;
      flex-direction: row;
      align-content: center; }
      .index-banner-container .index-banner-container-right ul li {
        width: 30%;
        font-family: MicrosoftYaHei;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #fff;
        line-height: 70px;
        text-align: center; }
        .index-banner-container .index-banner-container-right ul li img {
          padding-top: 15px; }

.personcenter_content {
  width: 100%;
  height: 100%;
  background-color: #dcdcdc;
  padding: 100px 60px 0 60px;
  box-sizing: border-box; }
  .personcenter_content .personcenter_content_left {
    width: 20%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center; }
    .personcenter_content .personcenter_content_left .personcenter-logo {
      padding-top: 20px;
      box-sizing: border-box; }
  .personcenter_content .personcenter-center {
    margin-top: 60px;
    color: #686868;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0 20%; }
    .personcenter_content .personcenter-center p {
      margin-bottom: 20px;
      padding: 5px 10px;
      text-align: center;
      cursor: pointer;
      white-space: nowrap; }
      .personcenter_content .personcenter-center p .iconfont {
        font-size: 18px;
        padding-right: 10px; }
    .personcenter_content .personcenter-center .active {
      background-color: #008dff;
      border-radius: 20px;
      color: #fff; }
  .personcenter_content .personcenter_content_right {
    width: 78%;
    height: 100%;
    background-color: #fff;
    float: right;
    box-sizing: border-box;
    padding: 3%; }
    .personcenter_content .personcenter_content_right h5 {
      font-weight: 700;
      font-size: 18px;
      padding-left: 40px; }
    .personcenter_content .personcenter_content_right .per-tab-nav {
      width: 100%; }
      .personcenter_content .personcenter_content_right .per-tab-nav ul {
        overflow: hidden;
        border-bottom: 4px solid  #bfbfbf;
        margin-top: 20px; }
        .personcenter_content .personcenter_content_right .per-tab-nav ul li {
          float: left;
          width: 16.6%;
          text-align: center;
          padding: 20px;
          color: #bfbfbf;
          box-sizing: border-box; }
    .personcenter_content .personcenter_content_right .per-tab-cont {
      width: 100%;
      overflow: hidden;
      padding-top: 20px; }
      .personcenter_content .personcenter_content_right .per-tab-cont li {
        width: 32%;
        height: 100px;
        float: left;
        background-color: #ff3040;
        margin-right: 1%;
        margin-bottom: 20px;
        border-radius: 8px; }
    .personcenter_content .personcenter_content_right .per-tab-list {
      width: 100%;
      margin-top: 60px;
      overflow: hidden; }
      .personcenter_content .personcenter_content_right .per-tab-list ul {
        width: 200;
        height: 30px;
        margin: 0 auto; }
        .personcenter_content .personcenter_content_right .per-tab-list ul li {
          float: left;
          width: 30px;
          box-sizing: border-box;
          height: 30px;
          line-height: 30px;
          text-align: center;
          border-radius: 50%;
          border: solid 1px #bdc3c7;
          margin-right: 20px;
          color: #bdc3c7; }

.per-tab {
  display: none; }
  .per-tab .per-tab-content {
    padding-top: 20px; }
    .per-tab .per-tab-content ul li {
      width: 31%;
      float: left;
      height: 220px;
      margin-right: 2%;
      background-color: #ff3040;
      border-radius: 8px;
      margin-bottom: 20px; }

.selected {
  display: block; }

.per-tab1 {
  padding-bottom: 20px;
  margin-top: 20px; }
  .per-tab1 h5 {
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 20px; }

.per-center {
  margin-top: 40px;
  width: 100%;
  text-align: center; }
  .per-center span {
    color: #686868;
    font-size: 14px; }
  .per-center input {
    border: solid 1px #bfbfbf;
    height: 40px;
    border-radius: 4px;
    width: 30%;
    margin-bottom: 20px;
    color: #bfbfbf; }

.per-button {
  text-align: center; }
  .per-button input:first-child {
    background-color: #fff;
    border: 1px solid #3498e9;
    border-radius: 5px;
    padding: 5px 20px;
    color: #3498e9; }
  .per-button input:last-child {
    background-color: #0892ff;
    border: 1px solid #3498e9;
    border-radius: 5px;
    padding: 5px 20px;
    color: #fff;
    margin-left: 20px; }

.per-nickname {
  display: none; }

.per-phone-box {
  display: none; }

.per-email-box {
  display: none; }

.per-tab-content {
  padding: 50px; }
  .per-tab-content p {
    color: #686868; }
    .per-tab-content p span {
      color: #3498e9;
      padding-left: 20px; }
  .per-tab-content .per-nickname {
    margin-top: 20px; }
    .per-tab-content .per-nickname span {
      color: #686868; }
    .per-tab-content .per-nickname .per-text {
      color: #bfbfbf;
      font-size: 12px; }
    .per-tab-content .per-nickname input {
      border: solid 1px #bfbfbf;
      border-radius: 4px;
      margin-left: 20px;
      height: 40px; }
    .per-tab-content .per-nickname .per-nickname-button {
      margin-top: 20px;
      padding-left: 30px; }
      .per-tab-content .per-nickname .per-nickname-button input:first-child {
        color: #008dff;
        height: 30px;
        padding: 0 20px;
        border: 1px solid #a7afff; }
      .per-tab-content .per-nickname .per-nickname-button input:last-child {
        color: #fff;
        height: 30px;
        padding: 0 20px;
        background-color: #59bbff; }
  .per-tab-content .per-radio {
    margin-top: 20px; }
    .per-tab-content .per-radio span {
      padding-right: 20px;
      color: #bfbfbf; }
    .per-tab-content .per-radio input {
      color: #bfbfbf; }
  .per-tab-content .per-phone {
    margin-top: 20px; }
    .per-tab-content .per-phone span {
      color: #bfbfbf; }
    .per-tab-content .per-phone span:nth-child(3) {
      color: #3498e9; }
  .per-tab-content .per-phone input {
    border: solid 1px #bfbfbf;
    height: 40px;
    border-radius: 4px; }
  .per-tab-content .per-phone .per-phone-box {
    padding-top: 20px; }
    .per-tab-content .per-phone .per-phone-box .per-phone-sms {
      padding-left: 135px;
      padding-top: 20px; }
      .per-tab-content .per-phone .per-phone-box .per-phone-sms input:last-child {
        color: #3699e9;
        height: 30px;
        padding: 0 5px;
        border: 1px solid #3699e9; }
    .per-tab-content .per-phone .per-phone-box .per-phone-success {
      padding-left: 135px;
      margin-top: 20px; }
      .per-tab-content .per-phone .per-phone-box .per-phone-success input:first-child {
        color: #008dff;
        height: 30px;
        padding: 0 20px;
        font-size: 14px;
        border: 1px solid #a7afff; }
      .per-tab-content .per-phone .per-phone-box .per-phone-success input:last-child {
        color: #fff;
        height: 30px;
        padding: 0 20px;
        font-size: 14px;
        background-color: #59bbff; }
  .per-tab-content .per-email {
    margin-top: 20px; }
    .per-tab-content .per-email span:nth-child(2) {
      color: #008dff;
      padding-left: 20px; }
    .per-tab-content .per-email .per-email-box {
      margin-top: 20px; }
      .per-tab-content .per-email .per-email-box .per-phone-success {
        padding-left: 135px;
        margin-top: 20px; }
        .per-tab-content .per-email .per-email-box .per-phone-success input:first-child {
          color: #008dff;
          height: 30px;
          padding: 0 20px;
          border: 1px solid #a7afff; }
        .per-tab-content .per-email .per-email-box .per-phone-success input:last-child {
          color: #fff;
          height: 30px;
          padding: 0 20px;
          background-color: #59bbff; }
  .per-tab-content .per-qq {
    margin-top: 20px; }
    .per-tab-content .per-qq input {
      border: solid 1px #bfbfbf;
      height: 40px;
      border-radius: 4px;
      margin-left: 20px; }
  .per-tab-content .per-bir {
    margin-top: 20px; }
    .per-tab-content .per-bir input {
      border: solid 1px #bfbfbf;
      height: 40px;
      border-radius: 4px;
      margin-left: 20px; }
  .per-tab-content .per-adress {
    margin-top: 20px; }
